{% extends 'base.html' %}

{% load static %}

{% block style %}
  {% static 'home\home.css' %}
{% endblock style %}

{% block body %}
    {% for p in post %}
      <div class="container">
        <div class="card">
          <div class="card__header">
            <img src={{p.post_img.url}} alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">{{ tag }}</span>
            <h4>{{ p.title }}</h4>
            <p>
              {{ p.body }}<a target="_blank" class="fcc-btn" href="{{ p.get_absolute_url }}">Read more...</a>
            </p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src={{p.user_name.user_img.url}} alt="user__image" class="user__image">
              <div class="user__info">
                <h5>{{ p.user_name.user_name }}</h5>
                <small>{{ p.date }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock body %}
