{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Login and Signup Form</title>
        
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'
              rel='stylesheet'>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'enter_acc/css/styles.css' %}">
        <style>
            .error_message{
                font-size: 13px;
                font-weight: 900;
                color: #c71b1b;
                background-color: rgba(194, 38, 38, 0.162);
                outline: none;
                padding: 0 15px;
                border: 1px solid#CACACA;
                border-radius: 6px;
                    }
        </style>
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>
                        Login
                    </header>
                    <form action="{% url 'enter_acc' %}" method="post">
                        {% csrf_token %}
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}

                        <p class="error_message">{{ message }}</p>

                        {% endfor %}
                        {% endif %}
                        <div class="field input-field">
                            <input type="text" placeholder="Username" class="input" name="login_username">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password" name="login_pass">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>
                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'enter_acc\images\google.png' %}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
            <!-- Signup Form -->
            <div class="form signup">
                <div class="form-content">
                    <header>
                        Signup
                    </header>
                    <form action="{% url 'enter_acc' %}" method="post">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}

                        <p class="error_message">{{ message }}</p>

                        {% endfor %}
                        {% endif %}
                        <div class="field input-field">
                            <input type="text" placeholder="Username" class="input" name="username">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="First name" class="input" name="user_first_name">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="Last name" class="input" name="user_last_name">
                        </div>
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="user_mail">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password" name="user_pass1">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password" name="user_pass2">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'enter_acc\images\google.png' %}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- JavaScript -->
        <script src="{% static 'enter_acc\js\script.js' %}"></script>
    </body>
</html>
