{% extends 'base.html' %}

{% load static %}

{% block style %}
{% static 'post_details\css\styles.css' %}
{% endblock style %}

{% block head %}
<title>{{ p.title }}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<section class="main-content">
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="post-block">
					<div class="d-flex justify-content-between">
						<div class="d-flex mb-3">
							<div class="mr-2">
								<a href="{% url 'profile_detail' username=p.user.username %}" class="text-dark"><img src="{{ p.user.user_profile.user_img.url }}"
										alt="User" class="author-img"></a>
							</div>
							<div>
								<h5 class="mb-0"><a href="#!" class="text-dark">{{ p.user.username }}</a></h5>
								<p class="mb-0 text-muted">{{ p.date|timesince }}</p>
							</div>
						</div>
						<div class="post-block__user-options">
							<a href="#!" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
								<a class="dropdown-item text-dark" href="#!"><i class="fa fa-pencil mr-1"></i>Edit</a>
								<a class="dropdown-item text-danger" href="#!"><i
										class="fa fa-trash mr-1"></i>Delete</a>
							</div>
						</div>
					</div>
					<div class="post-block__content mb-2">
						<h1 class="text-uppercase">{{ p.title }}</h1>
						<img src="{{ p.post_img.url }}" alt="Content img">
						<p>{{ p.body }}</p>
					</div>
					<div class="mb-3">
						<div class="d-flex justify-content-between mb-2">
							<div class="d-flex">
								<a href="#" class="like-button">
									{% if request.user in p.like.all %}
									<a href="{% url 'postlike' pk=p.id %}" class="like-button active"><i>
											<?xml version="1.0" encoding="utf-8"?>
											<svg width="20" height="20" viewBox="0 0 1792 1792"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z" />
											</svg>
									</a>
									{% else %}
									<a href="{% url 'postlike' pk=p.id %}" class="like-button"><i>
											<?xml version="1.0" encoding="utf-8"?>
											<svg width="20" height="20" viewBox="0 0 1792 1792"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z" />
											</svg>
									</a>
									{% endif %}
								</a>
							</div>
						</div>
						{% if p.like.count > 1 %}
						<p class="mb-0">Liked by <a href="{% url 'profile_detail' username=p.like.last %}"
								class="text-muted font-weight-bold">{{ p.like.last }}</a> & <a href="#!"
								class="text-muted font-weight-bold">{{ p.like.count }}</a></p>
						{% elif p.like.count == 1 %}
						<p class="mb-0">Liked by <a href="{% url 'profile_detail' username=p.like.last %}"
							class="text-muted font-weight-bold">{{ p.like.last }}</a></p>
						{% endif %}
					</div>
					<hr>
					<div class="post-block__comments">
						<!-- Comment Input -->
						<form action="{% url 'post' pk=p.id %}" method="post">
							{% csrf_token %}
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Add your comment" name="body">
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit" id="button-addon2"><i
											class="fa fa-paper-plane"></i></button>
								</div>
							</div>
						</form>
						<!-- Comment content -->
						<div class="comment-view-box mb-3">
							{% for c in p.comment_set.all %}
							<div class="d-flex mb-2">
								<img src="{{ c.user.user_profile.user_img.url }}" alt="User img"
									class="author-img author-img--small mr-2">
								<div>
									<h6 class="mb-1"><a href="#!" class="text-dark">{{ c.user.username }}</a> <small
											class="text-muted">{{ c.date|timesince }}</small></h6>
									<p class="mb-1">{{ c.body }}</p>

								</div>
							</div>
							{% endfor %}
						</div>
						<!-- More Comments -->
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'post_details\js\js.js' %}"></script>
{% endblock body %}