@font-face {
    src: unset;
    font-family: Arial !important;
    font-display: swap !important;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=2000&t=st=1683904395~exp=1683904995~hmac=9b1274e2b36afcb3ffb19e4e4c1d7a9ceb53dd4b117a5e848140e6cfcfb9c50e);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    min-height: 100vh;
    overflow-x: hidden;
}